.slide, .plainSlide {
  display: none;
  background-color: unset;
  border: none;
}

.slide {
  object-fit: contain;
  width: 100vw;
  height: auto;
}

.plainSlide {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slide.active, .plainSlide.active {
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* desktop */
@media (min-width: 769px) {
  .next,
  .prev {
    text-align: center;
    position: absolute;
    top: 50%;
    font-size: 2.5em;
    font-weight: bold;
    padding: 3rem;
    transform: translateY(-100%);
    display: block;
    z-index: 2;
    cursor: pointer;
  }

  .next {
    right: 10px;
  }

  .prev {
    left: 10px;
  }

  .prev svg,
  .next svg {
    width: 45px;
    height: 45px;
    transition: color 0.6s ease;
  }
}
