.contentWrapper {
  padding: 2em 1em;
  text-align: center;
  white-space: pre-line;
}

.photo {
  padding: 1em;
  height: 40vh;
  width: auto;
}

.presentationText {
  padding-top: 3em;
}

/* desktop */
@media (min-width: 769px) {
  .contentWrapper p {
    max-width: 42vw;
    margin: auto;
    text-align: left;
  }

  .photo {
    padding: 2em;
    height: 45vh;
  }
}
