.contentWrapper {
    padding: 2rem 1rem;
}

/* desktop */
@media (min-width: 769px) {
    .contentWrapper {
        max-width: 42vw;
        margin: auto;
    }
}

.imageWrap {
    position: relative;
    display: inline-block;
    padding: 2rem;
    height: 30vh;
    width: 100%;
}

/* desktop */
@media (min-width: 769px) {
    .imageWrap {
        height: 40vh;
    }
}
