.contentWrapper {
  padding: 2em 1em;
  text-align: center;
  white-space: pre-line;
}

.presentationText {
  padding-top: 3em;
}

/* desktop */
@media (min-width: 769px) {
  .contentWrapper p {
    max-width: 42vw;
    margin: auto;
    text-align: left;
  }
}
