.contentWrapper {
    padding: 2rem 1rem;
    text-align: center;
}

.photo {
  padding: 2rem;
  height: 35vh;
  width: auto;
}

.presentationText {
  padding-top: 3rem;
}

/* desktop */
@media (min-width: 769px) {
    .contentWrapper {
        max-width: 42vw;
        margin: auto;
    }

  .photo {
    height: 40vh;
  }
}
