/* Image to click */

.landscape,
.portrait {
  margin-bottom: 0.5em;
  cursor: pointer;
}

.landscape {
  width: 80vw;
  height: auto;
}

.portrait {
  height: 45vh;
  width: auto;
}

/* desktop */
@media (min-width: 769px) {
  .imageGridContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5em;
    margin-bottom: 0.5em;
  }

  .left {
    text-align: right;
  }

  .right {
    text-align: left;
  }

  .landscape {
    width: 40vw;
    height: auto;
  }

  .portrait {
    height: 58vh;
    width: auto;
  }

  .right .landscape,
  .right .portrait,
  .left .landscape,
  .left .portrait {
    margin-bottom: 0;
  }

  .right .landscape,
  .left .landscape {
    width: 35vw;
    height: auto;
  }
}

/* Lightbox */

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 1, 1, 0.95);
  z-index: 9999;
  padding: 1em;
}

.canvasContainer {
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.canvasContainer.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  left: 10px;
  right: auto;
  top: 10px;
  bottom: auto;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: var(--font-size-nav);
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slide.active {
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* desktop */
@media (min-width: 769px) {
  .next,
  .prev {
    text-align: center;
    position: absolute;
    top: 65%;
    font-size: 2.5em;
    font-weight: bold;
    padding: 3em;
    transform: translateY(-100%);
  }

  .next {
    right: 10px;
  }

  .prev {
    left: 10px;
  }

  .prev svg,
  .next svg {
    width: 45px;
    height: 45px;
  }
}

.toolbar {
  bottom: auto;
  display: flex;
  justify-content: flex-end;
  left: auto;
  padding: 8px;
  position: absolute;
  right: 0;
  top: 0;
}

.icon svg {
  width: 35px;
  height: 35px;
}

.icon {
  padding: 5px;
}
