.imageButton {
    position: relative;
    display: block;
    width: 30vw;
    height: 50vh;
    margin: 0 auto;
    background: none;
    border: none;
}

.image {
    object-fit: contain;
    object-position: top;
    box-sizing: border-box;
    padding: 2px;
}