.adminHomeContainer {
    text-align: left;
    white-space: pre-line;
    margin: 2em 0 4em;
}

.controls {
    padding-top: 2em;
    text-align: center;
}

.adminHomeContainer h2 {
    text-align: center;
}

.adminHomeContainer h2, .adminHomeContainer h4 {
    margin: 1em;
}

.imageContainer {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 2em;
    margin: 0.6em;
}

.image {
    object-fit: contain;
}