.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

.image{
  width: auto;
  height: 18vh;
}

.image:hover {
  cursor: pointer;
}

/* desktop */
@media (min-width: 769px) {
  .container {
    gap: 1em;
  }

  .image{
    width: auto;
    height: 30vh;
    transition: transform 250ms ease-out;
  }
}
