.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}

.image{
  width: auto;
  height: 18vh;
}

.image:hover {
  cursor: pointer;
}

/* desktop */
@media (min-width: 769px) {
  .image{
    width: auto;
    height: 30vh;
  }
}
