.adminWrapper {
  padding: 6em 2em 1em;
}

/* desktop */
@media (min-width: 769px) {
  .adminWrapper {
    padding: 6em 10em 3em;
  }
}

.button {
  padding: 0 2em;
  margin: 2em auto;
  box-shadow: inset 0 0.8em 1em 0 #e2e2e2;
  border: solid 1px #aaaaaa;
  line-height: 2.7;
  outline: none;
  cursor: pointer;
}

.pageTitle {
  padding: 1em 0 2em;
}

.formContainer {
  max-width: 50vw;
  margin: 0 auto 5em;
}

.wrapperModal {
  max-width: 50vw;
  padding: 2em;
}

/* Mobile */
@media (max-width: 700px) {
  .formContainer {
    max-width: unset;
    margin: 2em 0 0;
  }
}

.formContainer h2 {
  font-size: var(--font-size-title);
  padding-bottom: 1em;
}

.formContainer h4 {
  padding-bottom: 1em;
}

.formContainer textarea {
  border-color: #c5c5c5;
  height: 150px;
}

.formContainer .formLabel,
h2.formLabel,
.wrapperModal .formLabel {
  font-variant-caps: small-caps;
  letter-spacing: 3px;
  color: var(--color-dark);
  text-align: left;
  font-size: var(--font-size);
  margin-top: 1rem;
}

.select {
  background-color: white;
  border: var(--color-medium) solid 1px;
}

.checkLabel {
  display: inline;
  margin-top: 1rem;
}

.checkInput {
  display: inline;
  margin-left: 30px;
  width: 10px;
}

.message {
  font-size: small;
  padding-bottom: 2em;
}

.buttonSection {
  margin: 4em auto 1em;
  padding: 2em;
  border-top: solid 1px var(--color-dark);
}

/* Image */

.fileUploaderContainer {
  width: 100%;
  text-align: left;
  padding: 1em 0 1em;
}

.imageTitle {
  font-variant-caps: small-caps;
  letter-spacing: 3px;
  padding-bottom: 1em;
  color: var(--color-dark);
  font-size: var(--font-size);
}

.inputButton {
  padding: 0 0 5px;
}

.radioInput {
  display: inline;
  margin-left: 30px;
  width: 20px;
}

.radioLabel {
  display: inline;
}

/* End image */

h2.homepage {
  padding: 2em 0 0;
}

.info {
  width: 350px;
  margin: 2em auto;
  padding: 1em;
  text-align: left;
  background-color: var(--color-light);
}
.info summary {
  cursor: pointer;
}
.info p {
  padding: 1em;
}

.imageWrapper {
  padding: 1.5em 0.2em;
  display: inline-block;
  text-align: center;
}

.imageFormContainer {
  margin: 5em auto 0;
}
