.modalOverlay {
  z-index: 5;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBox {
  display: block;
  background: #efefef;
  width: 90vw;
  max-height: 90%;
  border-radius: 0.2rem;
  overflow: scroll;
}

/* desktop */
@media (min-width: 769px) {
  .modalBox {
    max-width: 50vw;
  }
}
