.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-blue-medium);
    border-bottom: solid var(--color-xdark) 1px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding-top: 0.6em;
    z-index: 2;
}

.nav span {
    color: var(--color-blue-light);
    letter-spacing: 4px;
    font-weight: bold;

}

.navItems {
    list-style: none;
}

.navItem {
    display: inline-block;
    margin: auto;
}

.navItem a {
    color: var(--color-blue-xxxlight);
    display: block;
    padding: 1em;
}