.contactContent {
  font-size: var(--font-size-plus);
}

.contactContent:first-of-type {
  margin-top: 4em;
  margin-bottom: 6em;
}

.contactContent:last-of-type {
  margin-top: 6em;
  margin-bottom: 6em;
}

@media (--md) {
  .title {
    display: none;
  }
}