.container {
  padding: 8rem 2rem 2rem;
}

/* desktop */
@media (min-width: 769px) {
  .container {
    padding: 10em;
  }
}

.email {
  margin: 4em 0 2em;
}

.contactContainer p {
  padding: 0.6em 0;
}

.preLine {
  white-space: pre-line;
}

.text {
  padding-top: 8em;
}

