:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-serif: Georgia;
  --font-family-sans: Tahoma;

  /*
  * Font size
  * ======================================================================== */
  --font-size-xtitle: 1.5rem;
  --font-size-title: 1.3rem;
  --font-size-nav: 1.2rem;
  --font-size-nav-minus: 1.1rem;
  --font-size: 1rem;
  --font-size-admin: 0.95rem;
  --font-size-min: 0.8rem;

  /*
   * Layout
   * ======================================================================== */

  --admin-nav-height: 90px;
  /*
  WARNING before to change : These two are also in constants JS (Layout)
   */
  --line-height: 6px;
  --nav-1-height: 31px;
  --nav-2-height: 55px;

  /*
   * Colors
   * ======================================================================== */

  --color-light: #dcdcdc;
  --color-medium: #c4c3c3;
  --color-dark: #818181;
  --color-xdark: #333;

  --link-color-xdark: #0f1f26;
  --link-color-dark: #1c3949;
  --link-color-light: #457eb4;
  --link-color-xlight: #9bcff8;
  --color-prussian-blue: #24445c;

  --overlayer: hsla(5, 15%, 5%, 0.3);
  /*
  common home and other pages
   */

  --color-auth-status: var(--link-color-xlight);
  --color-border-auth-status: var(--link-color-xdark);
  --color-border-menu1: var(--color-medium);
  --color-border-menu2: var(--color-medium);
  --color-border-menu1-dark: var(--link-color-xdark);
  --color-background-item: var(--overlayer);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font-family-serif);
  -webkit-font-smoothing: antialiased;
  font-size: var(--font-size-admin);
}

body {
  overflow: visible;
  min-height: 100%;
  line-height: 1.375;
}

html,
body {
  max-width: 100vw;
  text-align: center;
}

input,
button,
.button,
.buttonLink,
select,
textarea {
  font-family: var(--font-family-serif);
  -webkit-font-smoothing: antialiased;
  font-size: var(--font-size-admin);
}

button {
  cursor: pointer;
}

.iconButton {
  border: none;
  background: none;
  box-shadow: none;
  margin: 0.3em;
}

.buttonLink {
  display: inline;
  margin: 0;
  background: none;
  box-shadow: none;
  border: none;
  width: inherit;
  line-height: inherit;
  cursor: pointer;
}

a,
.buttonLink {
  font-size: var(--font-size);
  text-decoration: none;
  transition: color 0.4s ease;
}

.icon {
  transition: fill 0.4s ease;
}

a:hover,
a:focus,
.buttonLink:hover,
.buttonLink:focus {
  transition: color 0.4s ease;
}

.icon:hover,
.icon:focus {
  transition: fill 0.4s ease;
}

.iconButton:disabled,
.icon:disabled {
  opacity: 0.3;
  cursor: unset;
}

::selection {
  background: var(--color-prussian-blue);
  text-shadow: none;
}

.button,
button::selection,
img::selection,
button:focus,
img:focus {
  background: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset s.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0 !important;
}

.area,
textarea,
input,
select {
  width: 100%;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: unset;
}

textarea,
input,
select {
  line-height: 2.3;
  padding: 0.5rem;
}

textarea {
  line-height: 1.6;
  resize: vertical;
}

select {
  height: 50px
}

input[type="file"] {
  background-color: unset;
  border: unset;
  padding: 0;
}

label {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-top: 1em;
}

.adminButton,
input::file-selector-button {
  width: 220px;
  padding: 0.5em;
  margin: 0.5em;
  line-height: 2.3;
  box-shadow: inset 0 0.8em 1em 0 #efefef;
  border: 1px solid #bdbdbd;
  outline: none;
  background-color: #e2e2e2;
}

input::file-selector-button {
  margin: 0.5em 0;
  width: 150px;
}

.hidden {
  display: none;
}

/*
 * Print s
 * Inlined to avoid the additional HTTP request:
 * http://www.phpied.com/delay-loading-your-print-css/
 * ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
       * Printing Tables:
       * http://css-discuss.incutio.com/wiki/Printing_Tables
       */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
