:root {
  /*
   * Typography
   * ======================================================================== */

  --font-base: "Montserrat", sans-serif;

  /*
  * Font size
  * ======================================================================== */
  --font-size-xtitle: 2.4rem;
  --font-size-title: 1.8rem;
  --font-size-plus: 1.2rem;
  --font-size: 1rem;
  --font-size-min: 0.8rem;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 540px;
  --max-content-half-width: 270px;
  --line-height: 4px;
  --nav-height: 38px;
  --admin-nav-height: 62px;

  /*
   * Colors
   * ======================================================================== */

  --color-xlight: #f8f8f8;
  --color-light: #d7d7d7;
  --color-dark: #a1a1a1;
  --color-xdark: #333;

  --color-blue-xdark: #0f1f26;
  --color-blue-xdark-rgb: 14, 29, 35;
  --color-blue-dark: #152a36;
  --color-blue-dark-rgb: 21, 42, 54;
  --color-blue-medium: #1c3949;
  --color-blue-medium-rgb: 28, 54, 73;
  /*
  Original prussian blue
   */
  --color-blue: #24445C;
  --color-blue-rgb: 36, 68, 92;
  --color-blue-light: #2e6177;
  --color-blue-xlight: #4289a6;
  --color-blue-xxlight: #66c3d3;
  --color-blue-xxxlight: #b5d1d5;

  --color-brown-dark: #462e1b;
  --color-brown-dark-rgb: 70, 46, 27;
  --color-brown1: #a4874f;
  --color-brown2: #6b3d2a;
  --color-brown2-rgb: 107, 61, 42;
  --color-brown: #5c3524;
  --color-brown-rgb: 92, 53, 36;


  --max-width: 1100px;
  --border-radius: 12px;

  /*
    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
            to bottom right,
            rgba(1, 65, 255, 0),
            rgba(1, 65, 255, 0),
            rgba(1, 65, 255, 0.3)
    );

   */

  --primary-glow: conic-gradient(
          from 180deg at 50% 50%,
          #16abff33 0deg,
          #0885ff33 55deg,
          #54d6ff33 120deg,
          #24445C 160deg,
          transparent 360deg
  );
  --secondary-glow: radial-gradient(
          rgba(var(--color-blue-medium-rgb), 1),
          rgba(var(--color-blue-medium-rgb), 0)
  );

  /*
   * Parallax
   * ======================================================================== */
  --scale: 0.1;
  --space: 1vmin;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  overflow: visible;
  min-height: 100%;
  color: var(--color-blue-xxxlight);
  background-color: var(--color-blue-dark);
  font-family: var(--font-base);
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  line-height: 1.375;
  /*
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--color-blue-xdark-rgb))
  )
  rgb(var(--color-blue-dark-rgb));
   */
}

html,
body {
  max-width: 100vw;
}

button {
  cursor: pointer;
}

a, .buttonLink {
  text-decoration: none;
  color: var(--color-blue-xlight);
  transition: color 0.4s;
}

a:hover, .buttonLink:hover, a:focus,
.buttonLink:focus {
  color: var(--color-blue-xxlight);
  transition: color 0.4s;
}

.buttonLink {
  font-family: var(--font-base) !important;
  font-size: var(--font-size);
  padding: 2px 5px;
  display: inline;
  margin: 0;
  background: none;
  box-shadow: none;
  border: none;
  width: inherit;
  line-height: inherit;
  cursor: pointer;
}

::selection {
  background: var(--color-brown);
  text-shadow: none;
}

.button,
button::selection,
img::selection,
button:focus,
img:focus {
  background: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset s.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0 !important;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  padding: 0.5em;
  resize: vertical;
  line-height: 2.3;
  width: 100%;
}

.adminButton,
input {
  padding: 0.5em;
  width: 100%;
  line-height: 2.3;
  margin-bottom: 1em;
}

label {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.adminButton,
[type="submit"],
[type="reset"] {
  width: 48%;
  margin: 2em 0.3em;
}

.hidden {
  display: none;
}

/*
 * Browser upgrade prompt
 * ========================================================================== */

:global(.browserupgrade) {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
 * Print s
 * Inlined to avoid the additional HTTP request:
 * http://www.phpied.com/delay-loading-your-print-css/
 * ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
       * Printing Tables:
       * http://css-discuss.incutio.com/wiki/Printing_Tables
       */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.image-gallery {
  width: auto;
  height: 35vh;
}

.image-gallery-slide img {
  width: auto;
  height: 35vh;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}

.fullscreen .image-gallery-slide img {
  height: 90vh;
}

.separate {
  padding-top: 1em;
  border-bottom: 1px solid var(--color-light);
  margin-bottom: 1em;
}
