:root {
  /*
   * Typography
   * ======================================================================== */

  --font-base: Tahoma, sans-serif;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 540px;
  --max-content-half-width: 270px;
  --red-line-height: 6px;
  --nav-height: 32px;
  --nav-height-without-border: 31px;
  --red-line-nav-height: 38px;

  /*
   * Colors
   * ======================================================================== */

  --color-xxlight: #fafafa;
  --color-xlight: #f3f3f3;
  --color-light: #d0d0d0;
  --color-dark: #a1a1a1;
  --color-xdark: #333;

  --color-blue-xdark: #0e1d23;
  --color-blue-xdark-rgb: 14, 29, 35;
  --color-blue-dark: #152a36;
  --color-blue-dark-rgb: 21, 42, 54;
  --color-blue-medium: #1c3649;
  --color-blue-medium-rgb: 28, 54, 73;
  /*
  Original prussian blue
   */
  --color-blue: #24445C;
  --color-blue-rgb: 36, 68, 92;
  --color-blue-light: #427da9;
  --color-blue-xlight: #669dd3;

  --color-brown-dark: #462e1b;
  --color-brown-dark-rgb: 70, 46, 27;
  --color-brown: #5C3C24;
  --color-brown-rgb: 92, 60, 36;


  --max-width: 1100px;
  --border-radius: 12px;

  /*
    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
            to bottom right,
            rgba(1, 65, 255, 0),
            rgba(1, 65, 255, 0),
            rgba(1, 65, 255, 0.3)
    );

   */



  --primary-glow: conic-gradient(
          from 180deg at 50% 50%,
          #16abff33 0deg,
          #0885ff33 55deg,
          #54d6ff33 120deg,
          #24445C 160deg,
          transparent 360deg
  );
  --secondary-glow: radial-gradient(
          rgba(var(--color-blue-medium-rgb), 1),
          rgba(var(--color-blue-medium-rgb), 0)
  );

  /*
  * Font size
  * ======================================================================== */
  --font-size-xtitle: 2.4rem;
  --font-size-title: 1.8rem;
  --font-size-plus-plus: 1.2rem;
  --font-size-plus: 1rem;
  --font-size: 0.8rem;
  --font-size-min: 0.7rem;

  /*
   * Form
   * ======================================================================== */
  --admin-button-width: 25%;

  /*
   * Parallax
   * ======================================================================== */
  --scale: 0.1;
  --space: 6vmin;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  color: var(--color-light);
  background-color: var(--color-blue-dark);
  /*
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--color-blue-xdark-rgb))
  )
  rgb(var(--color-blue-dark-rgb));

   */
  font-family: var(--font-base);
  -webkit-font-smoothing: antialiased;
}

html,
body {
  max-width: 100vw;
  overflow: visible;
  line-height: 1.375;

}


a {
  text-decoration: none;
  color: var(--color-blue-light);
  transition: color 0.4s;
}

a:hover {
  color: var(--color-blue-xlight);
  transition: color 0.4s;
}