.container {
  position: relative;
  text-align: center;
  z-index: 1;
}

.title {
  background-color: var(--color-xlight);
  font-size: 2.5em;
  font-variant: small-caps;
  font-weight: lighter;
  margin: 0;
  height: 80px;
  line-height: 80px;
}

.spaceNav1 {
  height: var(--nav-1-height);
}

.intro {
  padding: 5em 10em;
  white-space: pre-line;
  z-index: 2;
}

.spaceNav2 {
  height: var(--nav-2-height);
}

