.container {
  position: relative;
  text-align: center;
  z-index: 1;
}

.title {
  font-size: 2.5em;
  font-variant: small-caps;
  font-weight: lighter;
  font-family: var(--font-family-serif);
  letter-spacing: 4px;
  margin: 0;
  height: 80px;
  line-height: 80px;
}

.intro {
  padding: 5em 10em;
  white-space: pre-line;
  z-index: 2;
}
