.container {
    padding: 2.5rem 1.5rem;
}

/* desktop */
@media (min-width: 769px) {
    .container {
        padding: 5rem;
    }
}

.paintingContent, .sculptureContent {
    background: hsla(5, 15%, 5%, 0.3);
    padding: 4rem 2rem 0;
    margin: 0 auto;
}

/* desktop */
@media (min-width: 769px) {
    .paintingContent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .paintingCategoryTitle {
        display: block;
        grid-column: 1 / 3;
    }
}

.categoryTitle {
padding-bottom: 2rem;
}

.yearSelect {
    text-align: center;
}

/* desktop */
@media (min-width: 769px) {
    .categoryTitle {
        padding-bottom: 5rem;
    }

    .yearSelect {
        width: 25%;
    }
}
