.line {
    position: fixed;
    height: var(--line-height);
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-brown1);
    z-index: 9999;
}

.main {
    background-color: var(--color-xlight);
    text-align: center;
    padding-top: calc(var(--line-height) + var(--nav-height) + var(--admin-nav-height));
    padding-bottom: 3em;
}

.dark {
    background-color: var(--color-blue-xdark);
}

.wrapper {
    max-width: 75ch;
    margin:  2em auto;
}

