.line {
    position: fixed;
    height: 6px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-brown);
    z-index: 9999;
}

.main {
    background-color: var(--color-xlight);
    text-align: center;
    padding-top: calc(var(--line-height) + var(--nav-height) + var(--admin-nav-height));
    padding-bottom: 3em;
}

.wrapper {
    max-width: 55ch;
    width: calc(100% - var(--space));
    margin:  2em auto;
    padding: var(--space);
}

