.main {
    color: var(--color-blue);
    background: linear-gradient(
            to bottom,
            transparent,
            var(--color-light)
    ) var(--color-xlight);
    text-align: center;
    margin: auto;
}

.mainHome {
    height: 100vh;
    text-align: center;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.sticky {
    margin-top: 55px;
}
