.nav {
  height: var(--nav-height);
  line-height: var(--nav-height);
  width: 100%;
  z-index: 2;
  font-size: var(--font-size);
  font-variant: small-caps;
  background: none;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.2s;
}

.sticky {
  position: fixed;
  top: var(--line-height);
  background-color: var(--color-blue-medium);
  border-bottom: 1px solid var(--color-blue-light);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 0.2s;
}

.nav ul {
  width: 50vw;
  height: inherit;
  border-bottom: 1px solid var(--color-blue-light);
  margin: auto;
}

@media (--sm) {
  .nav ul {
    width: var(--max-content-width);
  }
}

.nav li {
  display: inline-block;
  width: 100px;
  margin: 0 auto;
}

.nav .link {
  color: var(--color-blue-xxxlight);
  display: inline-block;
}

.nav .link:hover {
  color: var(--color-blue-xxlight);
}

.nav .link.active {
  color: var(--color-blue-xxlight);
  border-bottom: 1px solid var(--color-blue-xxlight);
}
