.homeNav, .nav {
  position: relative;
  width: 100%;
  font-family: var(--font-family-sans);
  font-variant: small-caps;
  font-size: var(--font-size-plus);
  height: var(--nav-2-height);
  line-height: var(--nav-2-height);
  z-index: 1;
  background-color: var(--color-background-menu2);
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.2s;
}

.homeNav {
  background-color: unset;
  transition: background-color ease-in-out 0.2s;
}

.sticky, .nav {
  position: fixed;
  top: calc(var(--line-height) + var(--nav-1-height));
  border-bottom: 1px solid var(--color-border-menu2);
  background-color: var(--color-background-menu2);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 0.2s;
}

.menu {
  position: relative;
  width: 100%;
  height: var(--nav-2-height);
  margin: 0 auto;
}

.nav li, .homeNav li {
  left: 50%;
  position: absolute;
  top: 0;
  list-style-type: none;
  color: white;
}

.homeNav .link {
  color: var(--color-menu2-home);
}

.nav .link {
  color: var(--color-menu2);
}

.homeNav .link:hover {
  color: var(--color-menu2-home-hover);
}

.nav .link:hover {
  color: var(--color-menu2-hover);
}

.nav li:first-child, .homeNav li:first-child {
  left: 0;
  text-align: right;
  width: 50%;
}

.liHome {
  z-index: 2;
  margin-left: -30px;
}

.logo {
  width: 40px;
  height: auto;
}

.nav li:last-child, .homeNav li:last-child {
  text-align: left;
  width: 50%;
}

.nav li:first-child .link, .homeNav li:first-child .link {
  margin-right: 40px;
}

.nav li:last-child .link, .homeNav li:last-child .link {
  margin-left: 40px;
}
