.nav, .itemNav, .homeNav, .homeNavFix {
    height: var(--nav-1-height);
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.2s;
    padding: 0;
}

.nav, .itemNav, .homeNavFix {
    position: fixed;
    top: var(--line-height);
    transition: all ease-in-out 0.2s;
}

.nav, .homeNavFix {
    border-bottom: 1px solid var(--color-border-menu1);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.itemNav {
    border-bottom: 1px solid var(--color-border-menu1-dark);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.ul {
    display: flex;
    max-width: 100vw;
    height: var(--nav-1-height);
    line-height: var(--nav-1-height);
    border-bottom: 1px solid var(--color-border-menu1);
    list-style: none;
}

.itemNav .ul {
    border-bottom: none;
}

/* desktop */
@media (min-width: 769px) {
    .ul{
        display: inline-flex;
        width: 540px;
        padding: 0 5em;
    }
}

.homeNav li, .homeNavFix li, .nav li, .itemNav li {
    flex: auto;
}
