.nav, .itemNav, .homeNav, .homeNavFix {
    height: var(--nav-1-height);
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.2s;
    padding: 0;
}

.menu {
    height: var(--nav-1-height);
    line-height: var(--nav-1-height);
    border-bottom: 1px solid var(--color-border-menu1);
}

/* desktop */
@media (min-width: 769px) {
    .menu{
        width: 540px;
        margin: auto;
    }
}

.itemNav .menu {
    border-bottom: none;
}

.nav, .itemNav, .homeNavFix {
    position: fixed;
    top: var(--line-height);
    transition: all ease-in-out 0.2s;
}

.nav, .homeNavFix {
    border-bottom: 1px solid var(--color-border-menu1);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.itemNav {
    border-bottom: 1px solid var(--color-border-menu1-dark);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.homeNav li, .homeNavFix li, .nav li, .itemNav li {
    display: inline-block;
    padding: 0 30px;
}

.link {
    font-variant: small-caps;
    font-size: var(--font-size-title);
    display: inline-block;
}

.nav .link.active, .itemNav .link.active  {
    border-bottom-style: solid;
    border-bottom-width: 2px;
}


