.nav, .homeNav, .dropdown .link  {
    height: var(--nav-1-height);
    width: 100%;
    z-index: 2;
    font-size: var(--font-size-plus);
    font-variant: small-caps;
    font-family: var(--font-family-serif);
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.2s;
    padding: 0;
}

.menu {
    height: var(--nav-1-height);
    line-height: var(--nav-1-height);
    width: 40vw;
    border-bottom: 1px solid var(--color-blue-light);
    margin: auto;
}

.sticky, .nav {
  position: fixed;
  top: var(--line-height);
  border-bottom: 1px solid var(--color-border-menu1);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 0.2s;
}

.sticky {
    background-color: var(--color-background-menu1-home-fix);
}

.nav {
    background-color: var(--color-background-menu1);
}

.homeNav li, .nav li {
  display: inline-block;
  width: 100px;
  margin: 0 auto;
}

.homNav .link {
    color: var(--color-menu1-home);
    display: inline-block;
}

.nav .link {
  color: var(--color-menu1);
  display: inline-block;
    height: var(--nav-1-height);
}

.homeNav .link:hover {
    color: var(--color-menu1-home-hover);
}

.nav .link:hover {
  color: var(--color-menu1-hover);
}

.nav .link.active {
  color: var(--color-menu1-hover);
    border-bottom: 3px solid var(--color-menu1-hover);
}

/*
DropDown
 */

.dropdown {
    position: relative;
}

.subMenu {
    position: absolute;
    left: -100px;
    list-style-type: none;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    width: 300px;
    text-align: left;
    height: unset;
    z-index: 2;
}

.subMenu > li {
    background-color: white;
    opacity: 0.9;
    display: block;
    width: unset;
    transition: background-color 0.3s ease-in-out;
    padding: 0 10px
}

.subMenu > li:hover {
    background-color: var(--color-light);
    transition: background-color 0.3s ease-in-out;
}

.subMenu .subLink {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    font-size: var(--font-size-plus);
}
