.secondaryNav {
  position: relative;
  width: 100%;
  font-family: var(--font-family-sans);
  font-variant: small-caps;
  font-size: var(--font-size-plus);
  height: var(--nav-2-height);
  line-height: var(--nav-2-height);
  z-index: 1;
}

.secondaryNav.sticky {
  position: fixed;
  top: calc(var(--line-height) + var(--nav-1-height));
}

.menu {
  position: relative;
  width: 100%;
  height: var(--nav-2-height);
  margin: 0 auto;
}

.menu.home {
  border-bottom: none;
}

.secondaryNav li {
  left: 50%;
  position: absolute;
  top: 0;
  list-style-type: none;
  color: white;
}

.secondaryNav .link {
  color: white;
}

.secondaryNav li:first-child {
  left: 0;
  text-align: right;
  width: 50%;
}

.liHome {
  z-index: 2;
  margin-left: -30px;
}

.logo {
  width: 40px;
  height: auto;
}

.secondaryNav li:last-child {
  text-align: left;
  width: 50%;
}

.secondaryNav li:first-child .link {
  margin-right: 40px;
}

.secondaryNav li:last-child .link {
  margin-left: 40px;
}
