.container {
  white-space: pre-line;
  padding: 1.3rem;
}

/* desktop */
@media (min-width: 769px) {
  .container {
    padding: 3rem 10rem;
  }
}

.title {
  display: none;
}

.container h2 {
  padding: 2rem;
}

.contentWrapper {
  padding: 2rem 0;
}

/* desktop */
@media (min-width: 769px) {
  .contentWrapper {
    padding: 4rem 0;
  }
}

.imageWrap {
  position: relative;
  display: inline-block;
  padding: 2rem;
  height: 70vw;
  width: 100%;
}

/* desktop */
@media (min-width: 769px) {
  .imageWrap {
    height: 40vh;
  }
}
