.container {
  padding: 2.5em 0.6em 0;
  white-space: pre-line;
}

/* desktop */
@media (min-width: 769px) {
  .container {
    padding: 2em 5em;
  }
}

.title {
  display: none;
}

.container h2 {
  padding: 2rem;
}
