.adminWrapper {
  padding: 6em 1em 1em;
}

/* desktop */
@media (min-width: 769px) {
  .adminWrapper {
    padding: 6em 4em 3em;
  }
}

.title1 {
  font-size: 34px;
  padding-bottom: 1.2em;
}

.title2 {
  font-size: 26px;
  padding-bottom: 1em;
}

.title3 {
  font-size: 23px;
  padding-bottom: 10px;
  text-align: left;
}

.modalTitle {
  font-size: 1.6rem;
}

.container {
  max-width: unset;
  margin: 0 0 2em;
}

/* desktop */
@media (min-width: 769px) {
  .container {
    max-width: 50vw;
    margin: 0 auto 6em;
  }
}

.modalContainer {
  max-width: 50vw;
  padding: 2em;
}

.formLabel {
  font-family: var( --font-family-serif-caps);
  font-size: 14px;
  letter-spacing: 3px;
  color: var(--color-dark);
  text-align: left;
  margin-top: 1rem;
  line-height: 1.375;
}

.metaForm {
  display: grid;
  gap: 1em;
  padding: 0 6em;
  grid-template-columns: 5fr 1fr 1fr;
  grid-auto-rows: min-content;
}

.metaForm button{
  margin: 0;
  width: auto;
  align-self: end;
}

.buttonSection {
  margin: 1em 0;
}

.checkInput {
  margin: 0 10px;
  height: unset;
}

.checkLabel {
  height: 50px;
  line-height: 50px;
  margin: 0;
}

/* Image */

.imagesContainer {
  margin-top: 1em;
}

.imageInputContainer {
  display: flex;
  margin: 2em 0;
}

.imageWrapper {
  padding: 0 2px;
  display: inline-block;
  text-align: center;
}

.image {
  display: block;
}
/* End image */

/* SelectImageList */

.selectList {
  height: 400px;
  width: 300px;
  margin: auto;
  line-height: 122px;
  vertical-align: middle;
  position: relative;
  background: white;
  overflow: scroll;
  border-collapse: collapse;
  border-bottom: 2px solid var(--color-dark);
  border-top: 2px solid var(--color-dark);
}

.option {
  height: 122px;
}

.option:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
/* End Select Image */

/* Select Layout item */
.buttonLayout {
  background: unset;
  border: unset;
  border: solid 6px transparent;
  margin-right: 10px;
}

.buttonLayoutSelected {
  border-color: #be0f02;
}

.layoutLabel {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

/* End Select Layout item */

.addButton {
  margin-top: 2em;
}
