.formContainer {
    max-width: 40vw;
    margin: 0 auto 5em;
}

/* Mobile */
@media (max-width: 700px) {
    .formContainer {
        max-width: unset;
        margin: 2em 0 0;
    }
}


.formContainer h2 {
    font-size: var(--font-size-xtitle);
    padding-bottom: 1em;
}

.formContainer .titleForm {
    margin: 0;
}

.formContainer textarea {
    border-color: #c5c5c5;
    height: 150px
}

.imageWrapper {
    padding: 0 0.1em 2em;
    display: inline-block;
    text-align: center;
}

.imageContainer {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.imageFormContainer {
    padding-top: 2em;
}

.imageTitle {
    padding-bottom: 1em;
}

.image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.message {
    font-size: small;
    padding-bottom: 2em;
}

.formContainer label {
    font-variant-caps: small-caps;
    letter-spacing: 3px;
    color: var(--color-dark);
    text-align: left;
    font-size: 0.8em;
}

.formContainer .contentLabel {
    color: var(--color-blue-dark);
    font-size: 1em;
    font-weight: bold;
}