.formContainer {
    max-width: 40vw;
    margin: 0 auto 5em;
}

/* Mobile */
@media (max-width: 700px) {
    .formContainer {
        max-width: unset;
        margin: 2em 0 0;
    }
}


.formContainer h2 {
    font-size: var(--font-size-title);
    padding-bottom: 1em;
}

.formContainer .titleForm {
    margin: 0;
}

.formContainer textarea {
    border-color: #c5c5c5;
    height: 150px
}

.wrapper {
    display: inline-block;
}

.imageContainer {
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.imageTitle {
    padding-bottom: 1.5em;
}

.newImagesContainer {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.image {
    object-fit: contain;
}

.message {
    font-size: small;
    padding-bottom: 2em;
}

.formContainer label, .sliderLabel {
    font-variant-caps: small-caps;
    font-weight: bold;
    letter-spacing: 4px;
    color: var(--color-dark);
    text-align: left;
}