.modalOverlay {
  z-index: 5;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBox {
  display: block;
  background: #efefef;
  color: var(--color-dark);
  max-height: 97%;
  border-radius: 0.2rem;
  overflow: scroll;
}

.modalTitle {
  font-size: 1.4rem;
  padding-bottom: 20px;
  text-align: center;
}

.modalContainer {
  max-width: 60vw;
  padding: 1em 2em;
  text-align: left;
}
