.modalOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.modalBox {
  position: absolute;
  background: #efefef;
  color: var(--color-dark);
  max-height: 97%;
  padding: 2em 2em 1em;
  text-align: left;
  border-radius: 0.2rem;
  overflow: scroll;
  user-select: none;
}

.modalTitle {
  font-size: 1.2rem;
  line-height: 1;
  padding-bottom: 20px;
  text-align: center;
}
