.input {
  display: inline-block;
  width: 80%;
}

.command {
  line-height: 2.3;
  padding: 0.5em 1em;
  border: solid 2px lightgrey;
  margin: 0;
  display: inline-block;
  width: 20%;
}

.dayPickerContainer {
  position: relative;
}

.popperContainer {
  position: absolute;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: lightgrey;
  padding: 20px;
  z-index: 5;
}