.article {
  padding: 0 0 3em;
}

.infoContainer h2 {
  font-size: var(--font-size);
  padding-bottom: 0.3em;
}

.infoContainer {
  white-space: pre-line;
  line-height: 1;
}

/* desktop */
@media (min-width: 769px) {
  .article {
    padding-bottom: 1em;
  }
  .imageContainer {
    display: inline-block;
    text-align: right;
    width: 70%;
  }

  .infoContainer {
    display: inline-block;
    width: 29%;
    vertical-align: top;
    text-align: left;
    padding-left: 1em;
    line-height: 2;
  }

  .article h2 {
    font-family: var(--font-family-serif-caps);
    font-weight: 700;
    letter-spacing: 3px;
    font-size: var(--font-size-nav2);
  }
}

.landscape,
.portrait {
  margin-bottom: 0.5em;
  cursor: pointer;
}

.landscape {
  width: 80vw;
  height: auto;
}

.portrait {
  height: 45vh;
  width: auto;
}

/* desktop */
@media (min-width: 769px) {
  .landscape,
  .portrait {
    margin-bottom: 0;
  }

  .landscape {
    width: 45vw;
    height: auto;
  }

  .portrait {
    height: 58vh;
    width: auto;
  }
}
