.listContainer {
  margin-bottom: 5em;
}

.listContainer h2 {
  font-size: var(--font-size-title);
}

.list {
  font-size: var(--font-size-min);
  display: block;
  margin-top: 2em;
  width: 100%;
  height: 300px;
  overflow: scroll;
  border-collapse: collapse;
  background-color: white;
  border-bottom: 2px solid var(--color-light);
  border-top: 2px solid var(--color-light);
}

.item {
  border-bottom: 1px dotted var(--color-light);
  padding-left: 1em;
  display: flex;
  width: 100%;
  align-items: center;
}

.item li {
  display: block;
}

.itemTitle {
  text-align: left;
  flex:  250px;
}

.itemImage {
  flex: auto;
}

.itemIcon {
  flex: auto;
}

.title, .name {
  font-weight: bold;
}
