


/*
Content
 */

.article {
    background: hsla(5, 15%, 5%, 0.3);
    padding: 3em 0;
}

.article p {
    text-align: center;
    padding-bottom: 1em;
    font-size: var(--font-size-min);
}

.info {
    display: inline-block;
    width: 50%;
    text-align: left;
    vertical-align: top;
}

.mainImage {
    display: inline-block;
    width: 50%;
    height: auto;
    margin: auto;
}

.description {
    text-align: center;
    white-space: pre-line;
}