.tagTitle {
  text-align: left;
  padding: 1em;
}

.ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2em;
}

.link {
  display: block;
  position: relative;
  border: solid 1px;
  transition: all 250ms ease-out;
}

.categoryLink {
  background: none;
  width: 150px;
  height: 150px;
  transition: all 250ms ease-out;
  overflow: hidden;
}

.yearLink {
  width: 80px;
  height: 50px;
  padding: 1em;
}

.image {
  width: 150px;
  height: 150px;
}

.noImageOverLayer,
.imageOverLayer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.imageOverLayer {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
}

/* desktop */
@media (min-width: 769px) {
  .tagTitle {
    padding: 2em 0 0 6em;
  }

  .ul {
    padding: 2em 5em 3em;
    gap: 2em;
  }

  .categoryLink {
    width: 250px;
    height: 250px;
    font-size: var(--font-size-nav2);
    overflow: hidden;
  }

  .image {
    width: 250px;
    height: 250px;
    transition: transform 250ms ease-out;
  }

  .categoryLink:hover .image {
    transform: scale(1.05);
    transform-origin: center;
  }

  .imageOverLayer {
    background-color: transparent;
    transition: all 250ms ease-out;
    font-weight: unset;
  }

  .categoryLink:hover .imageOverLayer {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .yearLink {
    width: 100px;
    height: 60px;
    box-shadow: none;
    transition: all 250ms ease-out;
  }

  .link:hover .noImageOverLayer,
  .yearLink:hover {
    box-shadow: inset 0 0 0 2px;
    transition: all 250ms ease-out;
  }
}
