.parallaxGroup {
    transform-origin: center top;
    transform: scaleY(calc(1 - var(--scale)));
}

.parallaxGroup > * {
    transform-origin: center top;
    transform: scaleY(calc(1 / (1 - var(--scale))));
}

.figure {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.figure img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.figure::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(
            to bottom,
            hsla(202, 44%, 14.7%, 0) 0%,
            hsla(202, 44%, 14.7%, 0.013) 8.1%,
            hsla(202, 44%, 14.7%, 0.049) 15.5%,
            hsla(202, 44%, 14.7%, 0.104) 22.5%,
            hsla(202, 44%, 14.7%, 0.175) 29%,
            hsla(202, 44%, 14.7%, 0.259) 35.3%,
            hsla(202, 44%, 14.7%, 0.352) 41.2%,
            hsla(202, 44%, 14.7%, 0.45) 47.1%,
            hsla(202, 44%, 14.7%, 0.55) 52.9%,
            hsla(202, 44%, 14.7%, 0.648) 58.8%,
            hsla(202, 44%, 14.7%, 0.741) 64.7%,
            hsla(202, 44%, 14.7%, 0.825) 71%,
            hsla(202, 44%, 14.7%, 0.896) 77.5%,
            hsla(202, 44%, 14.7%, 0.951) 84.5%,
            hsla(202, 44%, 14.7%, 0.987) 91.9%,
            hsl(202, 44%, 14.7%) 100%
    );
}

.article {
    position: relative;
    margin: 45vh auto -10vh;
    padding: 8rem 30rem 12rem;
    background: hsla(202, 44%, 14.7%, 0.9);
}

.article > * + * {
    margin-top: 3rem;
}

.article h1 {
    position: absolute;
    top: 10%;
    left: 25%;
    transform-origin: left;
    font-size: 3rem;
    letter-spacing: 6px;
    color: var(--color-blue-xlight);
    font-weight: lighter;
}

.instagram {
    width: initial;
    text-align: center;
    border: none;
    background: none;
    font-size: 20px;
    padding: 0.3em;
    margin: 0;
    box-shadow: none;
}

.instagram svg {
    color: var(--color-blue-xlight);
    transition: color 0.4s;
}

.instagram svg:hover {
    color: var(--color-blue-xxlight);
    transition: color 0.4s;
}