.modalOverlay {
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBox {
    display: block;
    background: white;
    width: var(--max-content-width);
    height: 90%;
    padding: 1rem 5rem;
    border-radius: 0.3rem;
    overflow: scroll;
}
