.dashboard {
  padding: 1em;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: min-content;
}

.sectionTitle {
  font-family: var( --font-family-serif-caps);
  letter-spacing: 3px;
  padding-bottom: 1em;
  font-size: 1.1em;
  text-align: left;
}

.subSection {
  padding-bottom: 1.5em;
}

.subTitle {
  text-decoration: underline;
  font-size: 1em;
  text-align: left;
}

.dashboard > p {
  font-size: var(--font-size-min);
}

.toUpdate {
  border: #dc3908 solid 3px;
}

.message {
  text-align: center;
  color: #dc3908;
  margin-bottom: 1em;
}

.actionContainer {
  display: flex;
  text-align: center;
  justify-content: center;
}

/* ColorSwatch */

.colorWrapper {
  display: flex;
  text-align: left;
}

.swatch {
  width: 28px;
  height: 28px;
  border-radius: 1px;
  border: 1px solid #aaa;
  cursor: pointer;
  margin: 4px;
}

.colorLabel {
  line-height: 35px;
  font-size: var(--font-size-min);
  padding: 0 1em 0 0.5em;
}

.isPresetColor {
  outline: solid #29acdc 2px;
  outline-offset: 1px;
}

.open {
  outline: solid #204c5d 3px;
  outline-offset: 1px;
}

/*
ColorPicker
 */

.colorPicker {
  text-align: center;
  max-height: 90vh;
}

.colorPicker .halfWidth {
  display: inline-block;
  width: 50%;
  height: 36px;
  vertical-align: top;
}

.pickerPresetColor {
  display: flex;
  padding: 2px 2px 20px;
  flex-wrap: wrap;
}

.presetColorContainer {
  width: 50px;
  padding: 0 1px;
  font-family: var(--font-family-sans);
  font-size: 11px;
  word-break: break-word;
}

/*
PresetColor
 */
.presetColorDashboard {
  display: flex;
  padding: 0 1em;
}

.presetColorWrapper {
  display: flex;
  text-align: left;
  font-size: var(--font-size-min);
}

.presetColorLabel {
  width: 200px;
}

.presetColorSwatch {
  margin: 0 2em 0 0;
}

.info {
  margin-left: 4em;
}

.presetColorForm {
  margin-top: 1em;
}
