.themeContainer {
    padding: 4em 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.themeContainer section {
    flex: auto;
    padding: 2em;
    max-width: 400px;
}

.subTitle {
    margin-bottom: 1em;
}






.colorContainer {
    display: flex;
    text-align: left;
    min-width: 270px;
}

.label {
    flex: auto;
    vertical-align: top;
    height: 30px;
    line-height: 30px;
    padding-right: 1em;
}

.colorPickerContainer {
    position: relative;
}

.swatch {
    width: 28px;
    height: 28px;
    border-radius: 1px;
    border: 1px solid #aaa;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.presetColor {
    cursor: none;
    margin-right: 2em;
}

.popup {
    position: absolute;
    top: calc(100% + 2px);
    left: -200px;
    background: #f0f0f4;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    z-index: 2;
    text-align: center;
    padding-bottom: 1em;
}

.presetColorForm {
    margin-top: 1em;
}

.pickerSwatches {
    display: flex;
    padding: 2px;
    flex-wrap: wrap;
}

.presetColorContainer {
    width: 55px;
    margin: 6px;
}

.pickerSwatch {
    width: 22px;
    height: 22px;
    margin: 4px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.colorName {
    font-size: 11px;
    display: block;
}

.halfWidth {
    display: inline-block;
    width: 45%;
    height: 36px;
    line-height: 2.3;
    vertical-align: top;
    margin: 0.3em;
    padding: 0 0.4em;
}
