.article {
  padding: 0 0 3em;
}

.infoContainer h2 {
  font-size: var(--font-size);
  padding-bottom: 0.3em;
}

.infoContainer {
  white-space: pre-line;
  line-height: 1;
  margin-top: 0.5em;
}

/* desktop */
@media (min-width: 769px) {
  .article {
    padding: 0 0 5em;
  }
}
