.buttonWrapper {
    display: flex;
}

.imageButton {
    position: relative;
    display: block;
    width: 30vw;
    height: 70vh;
    margin: 0 auto;
    background-color: unset;
    border: none;
}

.image {
    object-fit: contain;
    object-position: top;
    box-sizing: border-box;
}