.postContainer {
    padding: 7rem 2rem 7rem;
}

.postContainer:first-of-type {
    padding: 0 0 7rem;
}

.postInfo {
    padding-top: 2rem;
}

.postInfo h2 {
    font-size: var(--font-size-title);
}

.postInfo p {
    font-size: var(--font-size);
    white-space: pre-line;
}

.gallery {
    margin-top: 3rem;
}
