.link {
    font-variant: small-caps;
    font-size: var(--font-size-nav);
    display: inline-block;
}

.link.active  {
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

/*
DropDown
 */

button.link {
    display: inline-block;
    margin: 0;
    background: none;
    box-shadow: none;
    border: none;
    width: inherit;
    line-height: inherit;
    transition: color 0.4s ease;
}

button.link:hover, button.link:focus {
    transition: color 0.4s ease;
}

.dropdown {
    position: relative;
}

.subMenu {
    position: fixed;
    left: 0;
    width: 100vw;
    list-style-type: none;
    background-color: var(--color-light);
    opacity: 0.9;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    margin: 0;
    text-align: left;
    height: unset;
    z-index: 2;
}

/* DropDown desktop */
@media (min-width: 769px) {
    .subMenu {
        position: absolute;
        left: -150px;
        top: 30px;
        width: 400px;
    }
}

.subMenu > li {
    display: block;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
}

.subMenu > li:hover {
    background-color: var(--color-medium);
    transition: background-color 0.3s ease-in-out;
}

.subMenu .subLink {
    display: block;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 8px;
    font-size: var(--font-size-plus);
    font-variant: small-caps;
}

