.modal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 5;
    margin-top: 70px;
}

.content {
    position: relative;
    min-width: 250px;
    max-width: 400px;
    padding: 20px 30px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: left;
    overflow: scroll;
}

.icon svg {
    position: absolute;
    top: 15px;
    left: 5px;
    width: 30px;
}

.message {
    position: relative;
    padding: 0 20px 0;
    white-space: pre-wrap;
}

.closeButton {
    position: absolute;
    right: 5px;
    top: 15px;

}
