.imageWrap {
    position: relative;
    background-color: unset;
    border: none;
    width: 100%;
    max-height: 60vh;
    margin-bottom: 0.5rem;
}

/* desktop */
@media (min-width: 769px) {
    .imageGridContainer {
        display: grid;
        grid-template-columns: repeat(2, minmax(33%, 50%));
        gap: 0.8rem;
    }

    .imageContainer, .imageGridContainer {
        margin-bottom: 0.5rem;
    }

    .imageWrap {
        margin-bottom: 0;
    }
}
