.imageCentredContainer {
    display: inline-block;
    margin: 0 auto;
    width: 50%;
}

.imageGridContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(25%, auto));
    width: var(--max-width);
    max-width: 100%;
}

.imageWrap {
    position: relative;
    background-color: unset;
    border: none;
    margin-bottom: 2em;
}

.imageGridContainer .imageWrap {

}

/* Mobile */
@media (max-width: 700px) {

    .imageGridContainer {
        display: block;
        width: var(--max-width);
        max-width: 100%;
    }
}
