.doubleContent,
.sculptureContent,
.monoContent,
.multipleContent {
  padding: 1em 0;
}

/* desktop */
@media (min-width: 769px) {
  .doubleContent,
  .sculptureContent,
  .monoContent,
  .multipleContent {
    padding: 3em;
  }

  .darkBackground {
    background: var(--overlayer);
  }

  .doubleContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em 0;
  }
}
