.adminContainer h2 {
    margin: 5em 0 2em;
}

.button {
    padding: 0 2em;
    margin: 2em auto;
    box-shadow: inset 0 0.8em 1em 0 #e2e2e2;
    border: solid 1px #aaaaaa;
    line-height: 2.7;
    outline: none;
    cursor: pointer;
}
