.nav {
  height: var(--nav-1-height);
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.2s;
  padding: 0;
  user-select: none;
}

.fixed {
  position: fixed;
  top: var(--line-height);
  transition: all ease-in-out 0.2s;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.ul {
  display: flex;
  height: var(--nav-1-height);
  justify-content: center;
  align-items: center;
  list-style: none;
  border-bottom: 1px solid transparent;
}

.ul li {
  flex: auto;
}

.ul a {
  font-family: var(--font-family-serif-caps);
  font-size: var(--font-size-nav1);
  font-weight: 500;
  display: inline-block;
}

/* desktop */
@media (min-width: 600px) {
  .parent {
    position: relative;
    display: inline-flex;
    width: 540px;
  }

  .ul {
    width: 100%;
    padding: 0 4em;
    display: inline-flex;
  }

  .shadow {
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 10px;
    background-image: url("/assets/shadow.png");
    background-size: cover;
  }
}
