.separator {
    padding-left: 1rem;
    padding-right: 0.8rem;
}

.loginForm {
    padding-top: 3rem;
}

.loginForm input {
    margin: 1rem 0;
}

.errorMessage {
    color: red;
}

.logoutForm {
    display: inline;
}