.article {
  padding: 0 0 3em;
}

.infoContainer h2 {
  font-size: var(--font-size);
  padding-bottom: 0.3em;
}

.infoContainer {
  white-space: pre-line;
  line-height: 1;
}

.left, .right {
  margin-bottom: 0.5em;
}

/* desktop */
@media (min-width: 769px) {
  .article {
    padding: 0 0 5em;
  }
}

/* desktop */
@media (min-width: 769px) {
  .imageGridContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5em;
    margin-bottom: 0.5em;
  }

  .left {
    text-align: right;
    margin-bottom: 0;
  }

  .right {
    text-align: left;
    margin-bottom: 0;
  }
}
